{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-offset-4 jumbotron">
                <h1 class="text-center">Category {{ category.name }}</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-lg-offset-2 jumbotron">
                {% for product in products %}
                    <h2><a href="{{ path('page_product', { 'categoryId': category.id ,'productId': product.id }) }}">{{ product.name }}</a></h2>
                    <p>{{ product.description }}</p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
